In [1]:
# Import dependencies
 import pandas as pd

In [2]:
# Path to CSV file

file = "Resources/income_data_kaggle_copy.csv"

# Read data in to Pandas

income_df = pd.read_csv(file)
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [3]:
new_df = income_df.drop(['id', 'State_Code', 'State_ab', 'Place', 'Type', 'Primary', 'Area_Code', 'ALand', 'AWater', 'Median', 'Stdev', 'sum_w'], axis=1)

In [6]:
new_df.head(100)

,State_Name,County,City,Zip_Code,Lat,Lon,Mean
0,Alabama,Mobile County,Chickasaw,36611,30.771450,-88.079697,38773
1,Alabama,Barbour County,Louisville,36048,31.708516,-85.611039,37725
2,Alabama,Shelby County,Columbiana,35051,33.191452,-86.615618,54606
3,Alabama,Mobile County,Satsuma,36572,30.874343,-88.009442,63919
4,Alabama,Mobile County,Dauphin Island,36528,30.250913,-88.171268,77948
5,Alabama,Cullman County,Cullman,35057,34.045414,-86.882670,50715
6,Alabama,Escambia County,East Brewton,36426,31.091440,-87.055345,33737
7,Alabama,Elmore County,Coosada,36020,32.544337,-86.336446,46319
8,Alabama,Morgan County,Eva,35621,34.326504,-86.765318,57994
9,Alabama,Talladega County,Sylacauga,35151,33.168097,-86.442774,54807
10,Alabama,DeKalb County,Rainsville,35986,34.457329,-85.689447,47929
11,Alabama,Etowah County,Gadsden,35901,34.009563,-86.015643,42251
12,Alabama,Butler County,Georgiana,36033,31.639134,-86.746762,27993
13,Alabama,Coosa County,Rockford,35136,33.060835,-86.052333,31229
14,Alabama,Hale County,Greensboro,36744,32.700968,-87.593700,36439
15,Alabama,Marion County,Guin,35563,33.944319,-87.870368,56934
16,Alabama,Geneva County,Hartford,36344,31.105348,-85.691225,41057
17,Alabama,Jefferson County,Helena,35080,33.285635,-86.874488,93682
18,Alabama,Etowah County,Hokes Bluff,35903,33.989682,-85.862873,57202
19,Alabama,Covington County,Opp,36467,31.238158,-86.325104,49699
20,Alabama,Etowah County,Attalla,35954,34.037200,-86.147175,51926
21,Alabama,Lamar County,Millport,35576,33.580891,-87.986179,44572
22,Alabama,Jackson County,Section,35771,34.545063,-86.093350,56029
23,Alabama,Covington County,Andalusia,36420,31.243980,-86.460150,51098
24,Alabama,Covington County,Lockhart,36455,31.013011,-86.350273,45465
25,Alabama,Washington County,Mcintosh,36553,31.264957,-88.028369,67392
26,Alabama,Chilton County,Maplesville,36750,32.788282,-86.876651,43767
27,Alabama,Jefferson County,Fairfield,35064,33.455197,-86.922633,48074
28,Alabama,Mobile County,Mobile,36606,30.668426,-88.100226,53330
29,Alabama,Lawrence County,Moulton,35650,34.488302,-87.282707,42079
...,...,...,...,...,...,...,...
70,Alabama,Autauga County,Ohatchee,36271,33.768762,-86.037283,66000
71,Alabama,Autauga County,Panola,35477,32.863881,-88.262331,34064
72,Alabama,Autauga County,Talladega,35160,33.454831,-86.068082,38882
73,Alabama,Autauga County,Sylacauga,35150,33.148514,-86.213156,40948
74,Alabama,Autauga County,Dadeville,36853,32.887890,-85.695187,48421
75,Alabama,Autauga County,Northport,35475,33.323142,-87.566115,77977
76,Alabama,Autauga County,Holt,35404,33.243535,-87.482544,37965
77,Alabama,Autauga County,Tuscaloosa,35401,33.203114,-87.552765,24931
78,Alabama,Autauga County,Tuscaloosa,35404,33.180727,-87.493793,60252
79,Alabama,Autauga County,Holt,35404,33.218459,-87.495102,53301
80,Alabama,Autauga County,Nauvoo,35578,33.944599,-87.464688,40072
81,Alabama,Autauga County,Lanett,36863,32.858036,-85.206671,35951
82,Alabama,Autauga County,Millry,36558,31.625663,-88.341566,48623
83,Alabama,Autauga County,Arley,35541,34.096442,-87.227191,49046
84,Alabama,Autauga County,Prattville,36067,32.474024,-86.459703,58180
85,Alabama,Autauga County,Elmore,36025,32.447351,-86.476810,41464
86,Alabama,Autauga County,Marbury,36051,32.638522,-86.514873,59061
87,Alabama,Autauga County,Perdido,36562,31.110476,-87.786871,55216
88,Alabama,Autauga County,Bay Minette,36507,30.896961,-87.773737,36474
89,Alabama,Autauga County,Daphne,36526,30.647834,-87.843774,107603
90,Alabama,Autauga County,Loxley,36551,30.611477,-87.772568,50583
91,Alabama,Autauga County,Robertsdale,36567,30.564129,-87.687007,69996
92,Alabama,Autauga County,Clanton,35045,32.869580,-86.658888,56638
93,Alabama,Autauga County,Fairhope,36532,30.540806,-87.891618,67864
94,Alabama,Autauga County,Foley,36535,30.380276,-87.770318,71445
95,Alabama,Autauga County,Gulf Shores,36547,30.269628,-87.637277,65583
96,Alabama,Autauga County,Foley,36535,30.379884,-87.665057,49212
97,Alabama,Autauga County,Pensacola,32506,30.411165,-87.451119,57395
98,Alabama,Autauga County,Clayton,36016,31.679443,-85.557720,56947
99,Alabama,Autauga County,Eufaula,36027,31.920410,-85.175741,43222

In [8]:
new_df.loc[new_df['State_Name'] == 'Alabama', 'Mean'].mean()

53612.925855513306

In [12]:
new_df.loc[new_df['State_Name'] == 'Alaska', 'Mean'].mean()

77670.20952380952

In [13]:
new_df.loc[new_df['State_Name'] == 'Arizona', 'Mean'].mean()

62578.07131280389

In [14]:
new_df.loc[new_df['State_Name'] == 'Arkansas', 'Mean'].mean()

52060.361764705885

In [15]:
new_df.loc[new_df['State_Name'] == 'California', 'Mean'].mean()

78126.73780487805

In [16]:
new_df.loc[new_df['State_Name'] == 'Colorado', 'Mean'].mean()

73322.82129277567

In [17]:
new_df.loc[new_df['State_Name'] == 'Connecticut', 'Mean'].mean()

89227.21971830986

In [18]:
new_df.loc[new_df['State_Name'] == 'Delaware', 'Mean'].mean()

70142.34090909091

In [19]:
new_df.loc[new_df['State_Name'] == 'Florida', 'Mean'].mean()

60887.88982540638

In [20]:
new_df.loc[new_df['State_Name'] == 'Georgia', 'Mean'].mean()

60354.39119804401

In [21]:
new_df.loc[new_df['State_Name'] == 'Hawaii', 'Mean'].mean()

77859.58695652174

In [22]:
new_df.loc[new_df['State_Name'] == 'Idaho', 'Mean'].mean()

56211.44295302014

In [23]:
new_df.loc[new_df['State_Name'] == 'Illinois', 'Mean'].mean()

69067.38155136269

In [24]:
new_df.loc[new_df['State_Name'] == 'Indiana', 'Mean'].mean()

59153.83238636364

In [25]:
new_df.loc[new_df['State_Name'] == 'Iowa', 'Mean'].mean()

62569.14537444934

In [26]:
new_df.loc[new_df['State_Name'] == 'Kansas', 'Mean'].mean()

61704.81889763779

In [27]:
new_df.loc[new_df['State_Name'] == 'Kentucky', 'Mean'].mean()

55250.16297786721

In [28]:
new_df.loc[new_df['State_Name'] == 'Louisiana', 'Mean'].mean()

55432.26418786693

In [29]:
new_df.loc[new_df['State_Name'] == 'Maine', 'Mean'].mean()

60708.52229299363

In [30]:
new_df.loc[new_df['State_Name'] == 'Maryland', 'Mean'].mean()

87689.60409556315

In [31]:
new_df.loc[new_df['State_Name'] == 'Massachusetts', 'Mean'].mean()

84878.68358208955

In [32]:
new_df.loc[new_df['State_Name'] == 'Michigan', 'Mean'].mean()

59001.124361158436

In [33]:
new_df.loc[new_df['State_Name'] == 'Minnesota', 'Mean'].mean()

71403.9984399376

In [34]:
new_df.loc[new_df['State_Name'] == 'Mississippi', 'Mean'].mean()

48924.0031152648

In [35]:
new_df.loc[new_df['State_Name'] == 'Missouri', 'Mean'].mean()

56674.88285714286

In [36]:
new_df.loc[new_df['State_Name'] == 'Montana', 'Mean'].mean()

57350.55405405405

In [37]:
new_df.loc[new_df['State_Name'] == 'Nebraska', 'Mean'].mean()

61719.38545454545

In [38]:
new_df.loc[new_df['State_Name'] == 'Nevada', 'Mean'].mean()

65684.12075471698

In [39]:
new_df.loc[new_df['State_Name'] == 'New Hampshire', 'Mean'].mean()

76113.50381679389

In [40]:
new_df.loc[new_df['State_Name'] == 'New Jersey', 'Mean'].mean()

88657.64414414414

In [41]:
new_df.loc[new_df['State_Name'] == 'New Mexico', 'Mean'].mean()

57127.075

In [42]:
new_df.loc[new_df['State_Name'] == 'New York', 'Mean'].mean()

76201.22083333334

In [43]:
new_df.loc[new_df['State_Name'] == 'North Carolina', 'Mean'].mean()

57750.10491803279

In [44]:
new_df.loc[new_df['State_Name'] == 'North Dakota', 'Mean'].mean()

65137.06722689076

In [45]:
new_df.loc[new_df['State_Name'] == 'Ohio', 'Mean'].mean()

59675.86360266864

In [46]:
new_df.loc[new_df['State_Name'] == 'Oklahoma', 'Mean'].mean()

55121.33125

In [47]:
new_df.loc[new_df['State_Name'] == 'Oregon', 'Mean'].mean()

63597.04909560723

In [48]:
new_df.loc[new_df['State_Name'] == 'Pennsylvania', 'Mean'].mean()

64878.69491525424

In [49]:
new_df.loc[new_df['State_Name'] == 'Rhode Island', 'Mean'].mean()

72971.1743119266

In [50]:
new_df.loc[new_df['State_Name'] == 'South Carolina', 'Mean'].mean()

55715.248366013075

In [51]:
new_df.loc[new_df['State_Name'] == 'South Dakota', 'Mean'].mean()

58276.9609375

In [52]:
new_df.loc[new_df['State_Name'] == 'Tennessee', 'Mean'].mean()

56271.95245901639

In [53]:
new_df.loc[new_df['State_Name'] == 'Texas', 'Mean'].mean()

65407.010434782605

In [54]:
new_df.loc[new_df['State_Name'] == 'Utah', 'Mean'].mean()

72132.21455938698

In [55]:
new_df.loc[new_df['State_Name'] == 'Vermont', 'Mean'].mean()

63195.49397590361

In [56]:
new_df.loc[new_df['State_Name'] == 'Virginia', 'Mean'].mean()

79401.74012738853

In [57]:
new_df.loc[new_df['State_Name'] == 'Washington', 'Mean'].mean()

74067.36191860466

In [58]:
new_df.loc[new_df['State_Name'] == 'West Virginia', 'Mean'].mean()

52291.99596774193

In [59]:
new_df.loc[new_df['State_Name'] == 'Wisconsin', 'Mean'].mean()

64143.255192878336

In [60]:
new_df.loc[new_df['State_Name'] == 'Wyoming', 'Mean'].mean()

67552.66666666667

In [63]:
d = {'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], 'Avg_Income': ['53612.92', '77670.20', '62578.07', '52060.36', '78126.73', '73322.82', '89227.21', '70142.34', '60887.88', '60354.39', '77859.58', '56211.44', '69067.38', '59153.83', '62569.14', '61704.81', '55250.16', '55432.26', '60708.52', '87689.60', '84878.68', '59001.12', '71403.99', '48924.00', '56674.88', '57350.55', '61719.38', '65684.12', '76113.50', '88657.64', '57127.07', '76201.22', '57750.10', '65137.06', '59675.86', '55121.33', '63597.04', '64878.69', '72971.17', '55715.24', '58276.96', '56271.95', '65407.01', '72132.21', '63195.49', '79401.74', '74067.36', '52291.99', '64143.25', '67552.66']}
mean_df = pd.DataFrame(data=d)
mean_df.head(51)

             State Avg_Income
0          Alabama   53612.92
1           Alaska   77670.20
2          Arizona   62578.07
3         Arkansas   52060.36
4       California   78126.73
5         Colorado   73322.82
6      Connecticut   89227.21
7         Delaware   70142.34
8          Florida   60887.88
9          Georgia   60354.39
10          Hawaii   77859.58
11           Idaho   56211.44
12        Illinois   69067.38
13         Indiana   59153.83
14            Iowa   62569.14
15          Kansas   61704.81
16        Kentucky   55250.16
17       Louisiana   55432.26
18           Maine   60708.52
19        Maryland   87689.60
20   Massachusetts   84878.68
21        Michigan   59001.12
22       Minnesota   71403.99
23     Mississippi   48924.00
24        Missouri   56674.88
25         Montana   57350.55
26        Nebraska   61719.38
27          Nevada   65684.12
28   New Hampshire   76113.50
29      New Jersey   88657.64
30      New Mexico   57127.07
31        New York   76201.22
32  North Carolina   57750.10
33    North Dakota   65137.06
34            Ohio   59675.86
35        Oklahoma   55121.33
36          Oregon   63597.04
37    Pennsylvania   64878.69
38    Rhode Island   72971.17
39  South Carolina   55715.24
40    South Dakota   58276.96
41       Tennessee   56271.95
42           Texas   65407.01
43            Utah   72132.21
44         Vermont   63195.49
45        Virginia   79401.74
46      Washington   74067.36
47   West Virginia   52291.99
48       Wisconsin   64143.25
49         Wyoming   67552.66

In [ ]:
# new_df.to_csv('income_by_zip.csv')

In [64]:
mean_df.to_csv('mean_income_state.csv')